{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["react"],
	"rules": {
		"strict": 0,
		"react/prop-types": 0,
		"react/display-name": "off",
		"no-console": "off",
		"prefer-const": "warn",
		"no-unused-vars": "off",
		"no-empty": ["error", { "allowEmptyCatch": true }]
	},
	"settings": { "react": { "version": "detect" } }
}
