{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": ["eslint:recommended", "react-app"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": ["react-hooks"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.config.eslint.js"
      }
    }
  }
}