@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/react-datepicker/dist/react-datepicker.css';

body {
  position: relative;
  overflow-y: hidden;
  font-family: Arial, Helvetica, Helvetica Neue;
  font-size: 13px !important;
}

.navbar {
  border-radius: 0;
}

.control-label {
  color: #757575;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: -2px;
}

/* style custom checkboxes */
.custom-control-label::before,
.custom-control-label::after {
  top: 0.1rem !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: rgb(43, 148, 0) !important;
  background-color: rgb(43, 148, 0) !important;
}

/* optimize spacing of vertical radios */
.control-label ~ .radio {
  margin-top: 7px;
}

.radio + .radio {
  margin-top: -8px;
  margin-bottom: 0;
}

/* make sure radio label is horizontally even with input */
.radio > label > input[type='radio'] {
  margin-top: 2px;
}

textarea,
.form-control {
  font-size: 13px !important;
}

.form-group {
  margin-bottom: 2px;
}

.verticalRadioDiv .radio {
  margin-top: 0;
  margin-bottom: -2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

textarea {
  resize: vertical;
  overflow-y: scroll;
}

textarea::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/**
* need to apply this here because
* this div (button) is built by bootstrap
*/
#field-filter-dropdown {
  border-radius: 0;
}

/*
// adding a class after @page made it not be applied!
// had to add @page without class via createGlobalStyle
// directly when printing
@page .querformat {
  size: A4 landscape;
}

@page .hochformat {
  size: A4 portrait;
}*/

@media print {
  /*
  * hide everything BUT what shall be printed
  */
  html,
  body,
  body * {
    visibility: hidden;
  }

  body {
    /*
     * bootstrap sets min-width 992px
     * THIS FUCKS UP A4 PORTRAIT PRINT ROYALLY
     * because actual printed div is 79x pixels wide
     * and now covers only part of the page
     * see: https://github.com/twbs/bootstrap/issues/28085
     */
    min-width: auto !important;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box !important;
  }

  /* there is a misterious textarea */
  body > textarea {
    display: none !important;
    visibility: hidden !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    border-width: 0 !important;
  }

  .printer-content {
    visibility: visible !important;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: auto;
  }

  .printer-content * {
    visibility: visible !important;
  }

  /**
  * ensure html and body
  * have no margins, no padding,
  * grow and overflow as needed
  */
  html,
  body,
  #root {
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
  }
}

/* SplitPane */

.SplitPane.vertical {
  height: calc(100vh - 58px) !important;
}

/*
 * dont know why
 * but this is necessary or only first page will be printed
 */
@media print {
  .SplitPane.vertical {
    flex: none !important;
    display: block !important;
    position: inherit !important;
    overflow: visible !important;
    height: auto !important;
  }

  .Pane.Pane1 {
    flex: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  .Pane.Pane2 {
    flex: none !important;
    display: block !important;
    position: inherit !important;
    overflow: visible !important;
    height: auto !important;
    width: auto !important;
  }
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

resizer.disabled {
  cursor: not-allowed;
}

resizer.disabled:hover {
  border-color: transparent;
}

/* dont make email-links blue */
a {
  color: #333;
}
